<h3>Hello, <%= current_user.name %> </h3>
<h1>Courses you're enrolled in</h1>
<% flash[:notice] = "New grade!" %>

<ul>
  <% @courses.each do |course| %>
  <li>
    <h6><%= course.name %></h6>
  </li>

  <% end %>
</ul>


